
# to_prod


webpack		script.dev.js	script.js	admin/scripts/

webpack		style.dev.css	style.css	admin/styles/



## Libraries


### babel-polyfill


copy		dev/webpack/node_modules/@babel/polyfill/dist/polyfill.min.js		libs/babel-polyfill/babel-polyfill.js


### CodeMirror


uglifyjs	dev/webpack/node_modules/codemirror/lib/codemirror.js		    	libs/codemirror/codemirror.js

uglifyjs	dev/webpack/node_modules/codemirror/mode/clike/clike.js		    	libs/codemirror/clike.js
uglifyjs	dev/webpack/node_modules/codemirror/mode/css/css.js		   	libs/codemirror/css.js
uglifyjs	dev/webpack/node_modules/codemirror/mode/htmlmixed/htmlmixed.js		libs/codemirror/htmlmixed.js
uglifyjs	dev/webpack/node_modules/codemirror/mode/javascript/javascript.js	libs/codemirror/javascript.js
uglifyjs	dev/webpack/node_modules/codemirror/mode/php/php.js			libs/codemirror/php.js
uglifyjs	dev/webpack/node_modules/codemirror/mode/xml/xml.js			libs/codemirror/xml.js

uglifyjs	dev/webpack/node_modules/codemirror/addon/edit/matchbrackets.js		libs/codemirror/addon/edit/matchbrackets.js

webpack		dev/webpack/node_modules/codemirror/lib/codemirror.css		    	libs/codemirror/codemirror.css
